.mat-stepper-horizontal {
  margin-top: 8px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.buttonAction {
  height: 150px;
  width: 200px;
  background-color: whitesmoke;
  padding: 14px;
  text-align: center;
  cursor: pointer;
}

.botButtons {
  display: flex;
  justify-content: flex-end;
}

.botButtons>button {
  margin-right: 15px;
}

.inputText {
  min-width: 350px;
  border: 1px solid black;
}

::ng-deep .dottedHighlight {
  border: 2px dotted blue !important;
}

::ng-deep .userSelectedBorder {
  border: 2px solid #3fee3f !important;
}