<mat-accordion class="ignore">
    <mat-expansion-panel (opened)="panelOpened()" (closed)="clearSelections()">
        <mat-expansion-panel-header  [collapsedHeight]="'90px'" >
        </mat-expansion-panel-header>

        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step>
                <ng-template matStepLabel>Please select at least 2 elements</ng-template>
                <div>
                    <ng-container *ngIf="activeSelections.length>=1">
                        <p *ngIf="!botActiveSelections.length;else botSelectedData">You have selected
                            {{activeSelections.length}}</p>

                        <ng-template #botSelectedData>
                            <p>Great! You selected {{activeSelections.length}}, We predicted
                                {{botActiveSelections.length}} additional element(s)</p>
                            <p>In total {{botActiveSelections.length + activeSelections.length}}
                                elements are selected.</p>
                        </ng-template>

                    </ng-container>

                    <div class="botButtons">
                        <button color="primary" [disabled]="activeSelections.length < 2" mat-raised-button
                            matStepperNext>Next</button>
                        <button color="warn" mat-raised-button (click)="resetStepper()">Reset</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Do an action on each element">
                <p>Add an action that you want the bot to do on the page</p>

                <div style="display:flex;">

                    <div class="buttonAction" (click)="buttonFunctionClicked()" style="margin-right:15px;">
                        <h3>Click a button</h3>
                        <p>Allows you to click a button for each element</p>
                    </div>

                    <div class="buttonAction" (click)="enterInputText()" style="margin-right:15px;">
                        <h3>Input Text</h3>
                        <p>Allows you to input text for each element</p>
                    </div>

                    <div id="ds" class="buttonAction" (click)="markAllTasks()">
                        <h3>Mark all tasks</h3>
                        <p>Allows you to mark all selected tasks as done</p>
                    </div>
                </div>
                <div *ngIf="inputClicked" style="margin-top:10px ;">
                    Please select the inputs
                    <p *ngIf="!activeSelections.length;else botSelectedData">You have selected
                        {{activeSelections.length}}</p>

                    <ng-template #botSelectedData>
                        <p>Great! You selected {{activeSelections.length}}, We predicted
                            {{botActiveSelections.length}} additional element(s)</p>
                        <p>In total {{botActiveSelections.length + activeSelections.length}}
                            elements are selected.</p>
                        <input placeholder="Enter text to replace" *ngIf="inputClicked" type="text" class="inputText"
                            [(ngModel)]="inputTextString" matInput (ngModelChange)="inputTextChange($event)">
                    </ng-template>
                </div>
                <div class="botButtons">
                    <button color="accent" mat-raised-button (click)="resetStepper()">Reset</button>
                </div>
            </mat-step>

            <mat-step label="Click a button">
                <ng-container *ngIf="activeSelections.length>=1">
                    <p *ngIf="!botSelectedButtons.length;else botSelectedData">You have selected
                        {{activeSelections.length}}</p>

                    <ng-template #botSelectedData>
                        <p>Great! You selected {{activeSelections.length}}, We predicted
                            {{botSelectedButtons.length}} additional element(s)</p>
                        <p>In total {{botSelectedButtons.length + activeSelections.length}}
                            elements are selected.</p>
                    </ng-template>

                </ng-container>


                <div class="botButtons">
                    <!-- <button color="warn" mat-raised-button >RunBot</button> -->
                    <button color="accent" mat-raised-button (click)="resetStepper()">Reset</button>
                    <button color="primary" mat-raised-button (click)="runn()">Run Bot</button>
                </div>
            </mat-step>
        </mat-stepper>


    </mat-expansion-panel>
</mat-accordion>